.favorite-item
    display: grid
    grid-template-columns: 170px auto
    gap: 30px
    margin: 30px 0
    .thumbnail-wrapper
        img
            height: 100%
            max-height: 160px
    .info-wrapper
        display: flex
        flex-direction: column
        .timer
            font-family: "Tahoma", "Arial", sans-serif
            font-style: normal
            font-weight: bold
            font-size: 17px
            line-height: 18px
            color: #363636
            @media screen and (max-width: 1440px)
                font-size: 14px

            span
                margin-right: 50px
        a
            font-weight: normal
            font-size: 25px
            line-height: 30px
            color: $purple
            margin: 15px 0
            &:hover
                color: $blue
            @media screen and (max-width: 1440px)
                font-size: 21px
        .button-wrapper
            display: flex
            justify-content: space-between
            max-height: 50px
    hr
        grid-column: span 2
        width: 100%
