.favorite-item
    display: grid
    grid-template-columns: 170px auto
    gap: 30px
    margin: 30px 0
    @media screen and (max-width: 1024px)
        grid-template-columns: 150px auto
        grid-gap: 10px
    .info-wrapper
        display: flex
        flex-direction: column
        @media screen and (max-width: 1024px)
            position: relative
            padding-bottom: 50px
        .timer
            font-family: "Tahoma", "Arial", sans-serif
            font-style: normal
            font-weight: bold
            font-size: 17px
            line-height: 18px
            color: #363636
            @media screen and (max-width: 1440px)
                font-size: 14px
            @media screen and (max-width: 1024px)
                display: flex
                flex-direction: column
                font-size: 11px
                line-height: 13px

            span
                margin-right: 50px
        a
            font-weight: normal
            font-size: 25px
            line-height: 30px
            color: $purple
            margin: 15px 0
            &:hover
                color: $blue
            @media screen and (max-width: 1440px)
                font-size: 21px
                line-height: 20px
            @media screen and (max-width: 1440px)
                font-size: 15px
                line-height: 16px
        .button-wrapper
            display: flex
            justify-content: space-between
            max-height: 50px
            @media screen and (max-width: 1024px)
                position: absolute
                bottom: 36px
                left: -150px
                right: 0

    hr
        grid-column: span 2
        width: 100%
