.preview

    .preview-card
        padding: 20px
        border: solid red
        position: fixed
        left: 50%
        top: 50%
        transform: translate3d(-50%,-50%,0)
        z-index: 10
        width: 780px
        height: 600px
        background-color: white
//     position: fixed
    // left: 0
    // top: 0        // transform: translate3d(-50%,-50%,0)
    // width: 100%
    // height: 100%
    // border: solid red
    
    // .overlay
    //     background-color: #000000
    //     opacity: .1
//     // display: none
//     opacity: 0
//     position: absolute
//     background-color: red
//     transition: .3s

// &:hover .item-preview
//     display: block
//     opacity: 1
//     z-index: 10