@charset "UTF-8";
*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

input, select {
  outline: none;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 150px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 0;
  background-color: white;
  z-index: 10;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 auto;
  padding-bottom: 35px;
}

header nav a {
  color: black;
  font-size: 17px;
  margin: auto 0;
}

header nav a:first-child {
  margin-left: auto;
}

header nav a:not(:last-of-type) {
  margin-right: 40px;
}

header nav a:hover {
  opacity: .7;
}

header nav .currency-select {
  margin-left: auto;
}

header .header__sticky-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header__sticky-bar .logo {
  width: 22%;
  margin-right: 5%;
  display: block;
}

header .header__sticky-bar .logo img {
  width: 100%;
}

header .header__sticky-bar input[type=search] {
  color: #E1BBA5;
  border: 3px solid #E1BBA5;
  border-radius: 0px 15px 15px 0px;
  font-size: 21px;
  line-height: 25px;
  min-height: 50px;
  padding: 0 10px;
  outline: none;
  width: 95%;
}

header .header__sticky-bar input[type=search]::-webkit-input-placeholder {
  color: #E1BBA5;
}

header .header__sticky-bar input[type=search]:-ms-input-placeholder {
  color: #E1BBA5;
}

header .header__sticky-bar input[type=search]::-ms-input-placeholder {
  color: #E1BBA5;
}

header .header__sticky-bar input[type=search]::placeholder {
  color: #E1BBA5;
}

header .header__sticky-bar .favorite {
  min-width: 50px;
  height: 50px;
  border: 1px solid #BDBDBD;
  border-radius: 25px;
  background-color: #fff;
  border-color: #BDBDBD;
  border-radius: 50%;
  padding: 14px 9px 11px 11px;
  margin: 0 2%;
}

header .header__sticky-bar .favorite svg {
  fill: white;
  stroke: #757575;
}

header .header__sticky-bar .favorite:hover {
  background-color: #E1BBA5;
  border-color: #2E6E9F;
}

header .header__sticky-bar .favorite:hover svg {
  fill: #2E6E9F;
  stroke: #2E6E9F;
}

header .header__sticky-bar .favorite:active {
  border-color: #8C3E7D;
}

header .header__sticky-bar .favorite:active svg {
  fill: #8C3E7D;
  stroke: #8C3E7D;
}

header .header__sticky-bar .cart {
  display: none;
  margin: 0 2%;
  margin-left: 0;
  border: 2px solid #BDBDBD;
  border-radius: 50%;
  padding: 10px 10px 9px 5px;
  width: 50px;
  height: 50px;
}

header .header__sticky-bar .profile {
  min-width: 50px;
  height: 50px;
  border: 2px solid #8C3E7D;
  border-radius: 25px;
  background-color: #fff;
  border-radius: 50%;
  padding: 9px 10px 8px 10px;
  cursor: pointer;
}

header .header__sticky-bar .profile:hover {
  background-color: #E1BBA5;
  border-color: #2E6E9F;
}

header .header__sticky-bar .profile:hover svg {
  fill: #2E6E9F;
}

header .header__sticky-bar .profile:active {
  border-color: #8C3E7D;
}

header .header__sticky-bar .profile:active svg {
  fill: #8C3E7D;
}

header .header__sticky-bar .profile svg {
  fill: #8C3E7D;
}

header .header__sticky-bar .profile--pageOn {
  border-color: #8C3E7D;
}

header .header__sticky-bar .cart--active, header .header__sticky-bar .favorite--active {
  background-color: #E1BBA5;
  border: 2px solid #E1BBA5;
  position: relative;
}

header .header__sticky-bar .cart--active:hover, header .header__sticky-bar .favorite--active:hover {
  border: 2px solid #2E6E9F;
}

header .header__sticky-bar .cart--active:hover svg path, header .header__sticky-bar .favorite--active:hover svg path {
  stroke: #2E6E9F;
}

header .header__sticky-bar .cart--active::after, header .header__sticky-bar .favorite--active::after {
  width: 13px;
  height: 13px;
  position: absolute;
  content: "";
  background-color: #EB5757;
  border: 2px solid white;
  border-radius: 50%;
  right: -1px;
  bottom: -5px;
}

header .header__sticky-bar .cart--active svg path, header .header__sticky-bar .favorite--active svg path {
  stroke: #8C3E7D;
}

header .header__sticky-bar .cart--pageOn, header .header__sticky-bar .favorite--pageOn {
  border: 2px solid #8C3E7D;
}

header .loginOn .profile {
  background-color: #E1BBA5;
  border-color: none;
}

header .loginOn .profile svg {
  fill: #8C3E7D;
}

header .loginOn .cart {
  display: block;
}

header .loginOn .favorite {
  background-color: #E1BBA5;
  border: 2px solid #E1BBA5;
}

header .loginOn .favorite svg {
  fill: #8C3E7D;
  stroke: #8C3E7D;
}

.sidebar {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-width: 0 2px;
  background: #f6ebe4;
  overflow-y: scroll;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 70px 0 0 18px;
  height: 100%;
  border: 2px solid #E1BBA5;
  width: 300px;
  gap: 40px;
  scrollbar-width: none;
}

.sidebar > *:last-child {
  margin-bottom: 300px;
}

.sidebar::-webkit-scrollbar {
  width: 0;
}

.sidebar input[type=search] {
  border-radius: 0px 15px 15px 0px;
  padding-left: 9px;
  line-height: 25px;
  min-height: 50px;
  font-size: 21px;
  outline: none;
  border: 3px solid #E1BBA5;
  margin: 0;
  width: 90%;
}

.sidebar input[type=search]::-webkit-input-placeholder {
  color: #E1BBA5;
}

.sidebar input[type=search]:-ms-input-placeholder {
  color: #E1BBA5;
}

.sidebar input[type=search]::-ms-input-placeholder {
  color: #E1BBA5;
}

.sidebar input[type=search]::placeholder {
  color: #E1BBA5;
}

.sidebar .catalog {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 25px;
  -webkit-transition: .5s;
  transition: .5s;
  font-size: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
}

.sidebar .catalog::-webkit-details-marker {
  display: none;
}

.sidebar .catalog summary {
  line-height: 120%;
  -webkit-box-shadow: inset 0 0 0 0 #E1BBA5;
          box-shadow: inset 0 0 0 0 #E1BBA5;
  list-style: none;
  -webkit-transition: .2s;
  transition: .2s;
  font-size: 25px;
  padding: 8px;
  color: #8C3E7D;
}

.sidebar .catalog summary::-webkit-details-marker {
  display: none;
}

.sidebar .catalog summary::after {
  content: "Развернуть каталог";
}

.sidebar .catalog summary:hover {
  -webkit-box-shadow: inset -80px 0 0 0 #E1BBA5;
          box-shadow: inset -80px 0 0 0 #E1BBA5;
  -webkit-transition: .1s;
  transition: .1s;
}

.sidebar .catalog[open] > summary {
  -webkit-box-shadow: inset -300px 0 0 0 #E1BBA5;
          box-shadow: inset -300px 0 0 0 #E1BBA5;
}

.sidebar .catalog[open] > summary::after {
  content: "Свернуть каталог";
}

.sidebar .catalog .catalog-item {
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-shadow: inset 0 0 0 0 #E1BBA5;
          box-shadow: inset 0 0 0 0 #E1BBA5;
  -webkit-transition: .4s;
  transition: .4s;
  padding: 9px;
  color: black;
}

.sidebar .catalog .catalog-item:hover {
  -webkit-box-shadow: inset -80px 0 0 0 #E1BBA5;
          box-shadow: inset -80px 0 0 0 #E1BBA5;
  -webkit-transition: .1s;
  transition: .1s;
}

.sidebar .catalog .catalog-item:last-of-type {
  margin-bottom: 20px;
}

.sidebar .filters {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  gap: 10px;
}

.sidebar .filters h2 {
  line-height: 120%;
  font-size: 25px;
  color: #363636;
}

.sidebar .filters h3 {
  font-weight: bold;
  line-height: 110%;
  margin-top: 20px;
  font-size: 17px;
}

.sidebar .filters select {
  border-radius: 5px;
  font-size: 17px;
  height: 50px;
  border: 3px solid #E1BBA5;
  color: #757575;
  background-color: white;
}

.sidebar .filters .number-inputs {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.sidebar .filters .number-inputs input[type=number] {
  border-radius: 5px;
  text-align: center;
  font-size: 17px;
  height: 50px;
  border: 3px solid #E1BBA5;
  color: #757575;
  width: 100px;
}

.sidebar .filters .number-inputs input[type=number]::-webkit-textfield-decoration-container, .sidebar .filters .number-inputs input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.sidebar .filters .double-range-input {
  position: relative;
  height: 20px;
}

.sidebar .filters .double-range-input input[type=range] {
  background-color: #E1BBA5;
  visibility: hidden;
  position: absolute;
  z-index: 0;
  height: 15px;
  right: -2px;
  width: 100%;
}

.sidebar .filters .double-range-input input[type=range]::-webkit-slider-runnable-track {
  pointer-events: none;
  -webkit-appearance: none;
          appearance: none;
}

.sidebar .filters .double-range-input input[type=range]::-webkit-slider-thumb {
  pointer-events: auto;
  border-radius: 10px;
  visibility: visible;
  background: #E1BBA5;
  -webkit-appearance: none;
          appearance: none;
  height: 20px;
  width: 20px;
}

.sidebar .filters .double-range-input input[type=range]::-webkit-slider-thumb:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.sidebar .filters .double-range-input input[type=range]::before, .sidebar .filters .double-range-input input[type=range]::after {
  line-height: 130%;
  font-size: 17px;
  position: absolute;
  color: #757575;
  top: 10px;
}

.sidebar .filters .double-range-input input[type=range]::before {
  content: '2000';
  left: 0;
}

.sidebar .filters .double-range-input input[type=range]::after {
  content: '11 500';
  right: 0;
}

.sidebar .filters .double-range-input hr {
  background: #E1BBA5;
  position: absolute;
  border: 1px solid #E1BBA5;
  width: 100%;
}

.sidebar .filters .checkboxes .checkbox-row {
  padding: 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidebar .filters .checkboxes .checkbox-row input[type=checkbox] {
  border-radius: 3px;
  background: white;
  position: relative;
  margin: 0 10px 0 0;
  border: solid #E1BBA5;
  cursor: pointer;
  height: 30px;
  width: 30px;
}

.sidebar .filters .checkboxes .checkbox-row input[type=checkbox]:checked::after {
  border-color: green;
  font-weight: bold;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  font-size: 22px;
  position: absolute;
  content: '✓';
  color: #8C3E7D;
  left: 50%;
  top: 50%;
}

.sidebar .filters .checkboxes .checkbox-row label[for=checkboxes] {
  margin: auto 0;
  color: #757575;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 220px;
  height: 280px;
  border: 2px solid #E1BBA5;
  border-radius: 15px 15px 0px 0px;
  color: #000;
  cursor: pointer;
}

@media screen and (max-width: 1600px) {
  .item {
    width: 200px;
    height: 280px;
  }
}

@media screen and (max-width: 1440px) {
  .item {
    width: 200px;
    height: 280px;
  }
}

@media screen and (max-width: 1024px) {
  .item {
    width: 160px;
    height: 220px;
  }
}

.item:hover a {
  color: #8C3E7D;
}

.item:hover .fav {
  display: block;
}

.item .item-image {
  position: relative;
  width: 100%;
  max-height: 150px;
  -webkit-transition: .2s;
  transition: .2s;
  border-radius: 15px 15px 0px 0px;
  overflow: hidden;
}

.item .item-image:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.item .item-image .zoom {
  display: none;
  position: absolute;
  width: 50px;
  height: 50px;
  background-image: url(/images/icons/icon_zoom.svg);
  background-repeat: no-repeat;
  top: 33%;
  left: 40%;
}

.item .item-image .zoom:hover {
  width: 70px;
  height: 70px;
  background-image: url(/images/icons/icon_zoom-hover.svg);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.item .item-image:hover .zoom {
  display: block;
}

.item .item-image:hover .item-preview-button {
  background: url(/images/icons/icon_preview.svg) no-repeat;
  background-size: 100%;
}

.item .item-image .item-preview-button {
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 35px;
  height: 35px;
}

.item .item-image .item-preview-button:active {
  background-image: url(/images/icons/icon_preview_click.svg);
}

.item .item-description {
  width: 100%;
  height: 66px;
  margin: auto;
  padding: 4px 8px;
  font-size: 17px;
  line-height: 129%;
  overflow: hidden;
  text-overflow: ellipsis;
  color: black;
}

.item .item-description:hover {
  color: #2E6E9F;
  text-decoration: underline;
}

.item .item-price {
  font-family: "Tahoma", "Arial", sans-serif;
  color: #8C3E7D;
  background: #E1BBA5;
  border-radius: 0px 5px 0px 0px;
  padding: 8px 16px;
  font-size: 19px;
  margin: auto auto 0 0;
}

.item .item-price::after {
  content: ' ₽';
}

.item .fav {
  display: none;
  border: none;
  background: none;
  color: #8C3E7D;
  cursor: pointer;
  background-image: url("../images/icons/icon_favorites_purple.svg");
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  background-position: center;
}

.item .fav:hover {
  background-image: url("../images/icons/icon_favorites_blue.svg");
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: 0 3px #E1BBA5;
          box-shadow: 0 3px #E1BBA5;
  border: 1px solid #2E6E9F;
  border-radius: 3px;
}

.item .added {
  background-image: url("../images/icons/icons_favorites_purple_fill.svg");
  display: block;
}

.item .added:hover {
  background-image: url("../images/icons/icons_favorites_purple_fill.svg");
}

.item .price-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 10px;
}

.product-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  padding: 30px 0 70px 0;
}

.product-container .sub-category {
  width: 100%;
  font-size: 25px;
  line-height: 30px;
  color: #8C3E7D;
  margin-bottom: 40px;
}

.product-container .sub-category:hover {
  color: #2E6E9F;
  text-decoration: underline;
}

.preview {
  display: none;
}

.preview .preview-card {
  padding: 20px;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  z-index: 10;
  width: 780px;
  height: 600px;
  background-color: white;
  cursor: auto;
}

.preview .preview-card h1 {
  color: #8C3E7D;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 20px;
}

.preview .preview-card .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.preview .preview-card .content .gallery {
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.preview .preview-card .content .gallery .selected-image {
  width: 100%;
  height: 260px;
  background: url(/images/img-item.jpg);
  margin-bottom: 20px;
}

.preview .preview-card .content .gallery .images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}

.preview .preview-card .content .gallery .images .image {
  border: solid red;
  width: 50px;
  height: 50px;
}

.preview .preview-card .content .gallery .images .selected {
  border: solid #2E6E9F;
}

.preview .preview-card .content .specs {
  width: 50%;
  font-size: 17px;
  line-height: 100%;
}

.preview .preview-card .content .specs .spec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 0;
}

.preview .preview-card .content .specs .spec .data {
  width: 160px;
}

.preview .preview-card .content .specs hr {
  visibility: hidden;
}

.preview .preview-card .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.preview .preview-card .buttons div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 350px;
}

.preview .preview-card .buttons button.add-to-favorites {
  margin: auto;
  position: relative;
  color: #8C3E7D;
  font-size: 17px;
  line-height: 130%;
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: underline;
}

.preview .preview-card .buttons button.add-to-favorites::before {
  content: url(/images/icons/icon_favorites_purple.svg);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  right: 100%;
  top: 50%;
}

.preview .preview-card .buttons button.add-to-favorites:hover {
  opacity: .8;
}

.preview .preview-card .buttons button.add-to-favorites:active {
  opacity: .7;
}

.preview .preview-card .buttons button.place-a-bet {
  background-color: #8C3E7D;
  color: white;
  padding: 15px 25px;
  border-radius: 5px;
  font-size: 17px;
  line-height: 20px;
  border: none;
  -webkit-transition: .15s;
  transition: .15s;
}

.preview .preview-card .buttons button.place-a-bet:hover {
  background-color: #2E6E9F;
}

.preview #overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00000004;
  pointer-events: none;
}

.preview #overlay.active {
  opacity: 1;
}

/* or 120% */
.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0;
}

.pagination a {
  color: #757575;
  font-size: 14px;
  line-height: 150%;
  text-decoration: none;
}

.pagination a:hover {
  color: black;
}

.pagination a:not(:last-of-type)::after {
  content: ">";
  margin: 0 5px;
}

.banners-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}

.banners-wrapper .banner {
  background-color: #E1BBA5;
  padding-bottom: 20px;
  position: relative;
}

.banners-wrapper .banner p {
  position: absolute;
  background-color: #8C3E7D;
  bottom: 0;
  width: 90%;
  text-transform: uppercase;
  font-size: 35px;
  line-height: 20px;
  color: #ffff;
  letter-spacing: 0.42em;
  display: block;
  margin: 0 auto;
  padding: 0.5em 0;
  text-align: center;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  border-radius: 5px 5px 0px 0px;
}

@media screen and (max-width: 1440px) {
  .banners-wrapper .banner p {
    font-size: 18px;
    line-height: 14px;
    letter-spacing: 0.35em;
  }
}

#loginPopup,
#remindPassPopup,
#registrationPopup,
#betPopup {
  display: none;
}

.overlay {
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.popup {
  background-color: white;
  padding: 50px 80px;
  border: 0.5px solid rgba(0, 0, 0, 0.5);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 480px;
  z-index: 4;
  -webkit-animation: 0.7s slideDown;
          animation: 0.7s slideDown;
}

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translate(-50%, -100%);
            transform: translate(-50%, -100%);
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@keyframes slideDown {
  0% {
    -webkit-transform: translate(-50%, -100%);
            transform: translate(-50%, -100%);
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@media screen and (max-width: 320px) {
  .popup {
    max-width: 320px;
  }
}

.popup form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.popup form input {
  padding: 5% 2%;
  border: 3px solid #BDBDBD;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
}

.popup form input:focus {
  border: 3px solid #363636;
  outline: none;
}

.popup form button {
  background: #8C3E7D;
  color: #fff;
  text-align: center;
  padding: 5%;
  font-size: 17px;
  font-weight: normal;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.popup form .form-title {
  font-size: 25px;
  line-height: 30px;
}

.popup form .help-link {
  font-size: 17px;
  line-height: 22px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #8C3E7D;
  padding-left: 20px;
}

.close-button {
  border: none;
  background: none;
}

.close-button:hover::before, .close-button:hover::after {
  background-color: #2E6E9F;
}

.close-button::before, .close-button::after {
  content: "";
  position: absolute;
  top: 25px;
  right: 15px;
  width: 24px;
  height: 4px;
  background-color: #8C3E7D;
  cursor: pointer;
}

.close-button::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.close-button::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.popup--login .social-login-button {
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  padding: 14px;
  color: #8C3E7D;
  border: 1px solid #8C3E7D;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
}

.popup--login .social-login-button:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: 0 5px #E1BBA5;
          box-shadow: 0 5px #E1BBA5;
}

.popup--login .unsafe-pc {
  padding: 20px 0;
}

.popup--login .unsafe-pc label {
  position: relative;
  padding-left: 40px;
  cursor: pointer;
}

.popup--login .unsafe-pc label::before {
  position: absolute;
  content: "";
  width: 32px;
  height: 32px;
  border-radius: 5px;
  border: 2px solid #757575;
  left: 0;
  top: -28%;
}

.popup--login .unsafe-pc label::after {
  position: absolute;
  content: "";
  background-repeat: no-repeat;
  left: 0;
  width: 30px;
  height: 30px;
  top: 0;
  left: 2px;
}

.popup--login .unsafe-pc input {
  display: none;
}

.popup--login .unsafe-pc input:checked + label::after {
  background-image: url(../images/icons/icon-checked.svg);
}

.no-robot {
  padding: 20px 0;
}

.no-robot label {
  position: relative;
  padding-left: 40px;
  cursor: pointer;
}

.no-robot label::before {
  position: absolute;
  content: "";
  width: 32px;
  height: 32px;
  border-radius: 5px;
  border: 2px solid #757575;
  left: 0;
  top: -28%;
}

.no-robot label::after {
  position: absolute;
  content: "";
  background-repeat: no-repeat;
  left: 0;
  width: 30px;
  height: 30px;
  top: 0;
  left: 2px;
}

.no-robot input {
  display: none;
}

.no-robot input:checked + label::after {
  background-image: url(../images/icons/icon-checked.svg);
}

.popup--bet p {
  color: #757575;
}

.bread-crumbs {
  padding: 20px 0;
}

.bread-crumbs a {
  font-size: 14px;
  line-height: 22px;
  color: #757575;
  position: relative;
  margin-right: 30px;
}

.bread-crumbs a:hover {
  color: #2E6E9F;
}

.bread-crumbs a::after {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  background-image: url("../images/icons/arrow.svg");
  background-repeat: no-repeat;
  right: -30px;
  bottom: -25%;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product .close-button {
  display: none;
}

.product h1 {
  width: 100%;
  margin-bottom: 40px;
}

.product .product-photos {
  border-radius: 7px;
  max-width: 650px;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 580px;
}

.product .thumbnails-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product .current {
  width: 100%;
  max-height: 485px;
  margin: auto;
}

.product .thumb {
  width: 83px;
  height: 83px;
}

.product .product-desc {
  margin: 0 auto;
  position: relative;
}

.product .product-desc table {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  text-align: left;
  border-spacing: 15px;
  border-collapse: separate;
}

.product .product-desc table th {
  margin-right: 20px;
}

.product .product-desc .logo {
  margin: 30px 0;
}

.product-details {
  padding: 80px 0 40px 0;
  font-size: 17px;
  line-height: 20px;
}

.product-details p {
  margin-bottom: 30px;
  max-width: 60%;
}

.similar-goods,
.viewed-goods {
  padding: 30px 0;
}

.similar-goods h2,
.viewed-goods h2 {
  font-size: 34px;
  line-height: 41px;
}

.button {
  border: none;
  border-radius: 5px;
  background-color: #8C3E7D;
  color: white;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  padding: 18px 22px;
  cursor: pointer;
  display: block;
}

.button:hover {
  background-color: #2E6E9F;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: 0 5px #E1BBA5;
          box-shadow: 0 5px #E1BBA5;
}

.add-favs {
  border: none;
  background: none;
  color: #8C3E7D;
  padding: 5px 0;
  text-decoration: underline;
  font-size: 17px;
  line-height: 22px;
  padding-left: 35px;
  margin-top: 20px;
  cursor: pointer;
  background-image: url("../images/icons/icon_favorites_purple.svg");
  background-repeat: no-repeat;
  background-position: left;
}

.add-favs:hover {
  background-image: url("../images/icons/icon_favorites_blue.svg");
  background-size: 30px 30px;
  color: #2E6E9F;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.product-thumb {
  width: 780px;
  background-color: white;
  border: 1px solid #E1BBA5;
  -webkit-box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.2);
  z-index: 1;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 20px;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  padding: 20px;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-name: slidein;
          animation-name: slidein;
}

@-webkit-keyframes slidein {
  0% {
    -webkit-transform: rotate(190deg) translateX(-50%) translateY(-50%);
            transform: rotate(190deg) translateX(-50%) translateY(-50%);
  }
  100% {
    -webkit-transform: rotate(360deg) translateX(-50%) translateY(-50%);
            transform: rotate(360deg) translateX(-50%) translateY(-50%);
  }
}

@keyframes slidein {
  0% {
    -webkit-transform: rotate(190deg) translateX(-50%) translateY(-50%);
            transform: rotate(190deg) translateX(-50%) translateY(-50%);
  }
  100% {
    -webkit-transform: rotate(360deg) translateX(-50%) translateY(-50%);
            transform: rotate(360deg) translateX(-50%) translateY(-50%);
  }
}

.product-thumb .product-title {
  font-size: 25px;
  margin-bottom: 20px;
}

.product-thumb .logo {
  display: none;
}

.product-thumb .product-photos {
  height: 329px;
}

.product-thumb .current {
  height: 260px;
}

.product-thumb .thumb {
  width: 49px;
  height: 49px;
}

.product-thumb .add-favs {
  position: absolute;
  left: -335px;
  bottom: 10px;
}

.product-thumb .close-button {
  display: block;
}

.carousel {
  position: relative;
  width: 100%;
  padding-bottom: 2em;
  border-radius: 10px 10px 0px 0px;
}

.carousel .carousel__item {
  background: #E1BBA5;
  color: #ffffff;
  display: none;
  position: relative;
  padding-bottom: 15px;
}

.carousel .carousel__item p {
  text-transform: uppercase;
  font-size: 36px;
  line-height: 20px;
  color: #ffff;
  letter-spacing: 0.42em;
  background-color: #8C3E7D;
  display: block;
  width: 978px;
  margin: 0 auto;
  padding: 0.5em 0;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  border-radius: 5px 5px 0px 0px;
}

@media screen and (max-width: 1440px) {
  .carousel .carousel__item p {
    width: 642px;
    font-size: 25px;
    line-height: 15px;
    letter-spacing: 0.35em;
  }
}

.carousel .carousel__item--selected {
  display: block;
}

.carousel .carousel__nav {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
}

.carousel .carousel__button {
  width: 11px;
  height: 11px;
  display: inline-block;
  border: 2px solid #E1BBA5;
  border-radius: 50%;
  margin: 0 15px;
  cursor: pointer;
}

.carousel .carousel__button--selected {
  background: #8C3E7D;
  border: none;
}

@font-face {
  font-family: "KievitPro-Regular";
  src: url("./fonts/KievitPro-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
  font-family: "KievitPro-Regular", "Arial", sans-serif;
}

html body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1600px;
  margin: auto;
}

html body a {
  text-decoration: none;
}

html body img {
  max-width: 100%;
  height: auto;
  display: block;
}

html body .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: inherit;
  width: 100%;
}

html body .wrapper > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  margin-left: 300px;
  padding: 0 40px 40px;
}

html body .wrapper > div main h1 {
  font-size: 34px;
  line-height: 41px;
}
/*# sourceMappingURL=style.css.map */