@import elements/_reset
@import elements/_colors
@import elements/_header
@import elements/_sidebar
@import elements/_item

@import pages/_catalog
@import pages/_item
@import pages/_carousel
@import pages/_fonts

html
    scroll-behavior: smooth
    font-family: "KievitPro-Regular", "Arial", sans-serif

    body
        box-sizing: border-box
        min-height: 100vh
        display: flex
        flex-direction: column
        max-width: 1920px
        margin: auto

        img
            max-width: 100%
            height: auto
            display: block

        .wrapper
            display: flex
            height: inherit

            & > div
                display: flex
                flex-direction: column
                width: 100%
                max-width: 1480px
                height: 100%
                margin-left: 300px
                padding: 0 40px 40px

                main
                    display: flex
                    flex-wrap: wrap
                    justify-content: space-between
                    gap: 20px
                    // height: 100vh      //

                    h1
                        font-size: 34px
                        line-height: 41px//120%
