@import elements/_reset
@import elements/_colors
@import elements/_header
@import elements/_sidebar
@import elements/_item
@import elements/_product-container
@import elements/_preview
@import elements/_pagination
@import elements/_banners-wrapper
@import elements/_popups
@import elements/_bread-crumbs
@import elements/_buttons
@import elements/_tracking-item

@import pages/_catalog
@import pages/_product
@import pages/_carousel
@import pages/_fonts
@import pages/_profile
@import pages/_adresses
@import pages/_payments

html
    scroll-behavior: smooth
    font-family: "KievitPro-Regular", "Arial", sans-serif

    body
        box-sizing: border-box
        min-height: 100vh
        display: flex
        flex-direction: column
        max-width: 1600px
        margin: auto
        // justify-content: center

        .title
            margin-top: 30px 

        a
            text-decoration: none

        img
            max-width: 100%
            height: auto
            display: block

        .wrapper
            display: flex
            height: inherit
            width: 100%

            & > div
                display: flex
                flex-direction: column
                width: 100%
                // max-width: 1400px
                height: 100%
                margin-left: 300px
                padding: 0 40px 40px

                main
                    // display: flex
                    // flex-wrap: wrap
                    // justify-content: space-between
                    // gap: 20px

                    h1
                        font-size: 34px
                        line-height: 41px//120%
